{% extends 'places/base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}<title>Обо Мне | Фотограф Светлана Гавриловец | shaur-photo.com</title>  {% endblock title %}

    <meta name="description" content="Здесь вы можете узнать информацию о фотографе Светлане Гавриловец, узнать цены, посмотреть отзывы и задать вопросы">
    <meta name="keywords" content="Светлана Гавриловец кто это, Светлана Гавриловец информация, фотограф отзывы, Светлана Гавриловец фотограф Лельчицы">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/25fa9de4fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'about/about_css/about.css' %}">
    {% include 'include/styles_for_text_section.html' %}
{% endblock head %}

{% block content %}
    <main>
        {% include 'include/text_section.html' %}
        {% for about in about_list %}
            <section class="about">
                <div class="container">
                    <h1> {{ about.title }}</h1>
                    <div class="about-me">
                      <div class="description-about">
                            <div class="desc-and-social">
                                <div class="mini-foto1">
                                    <img src="{{ about.avatar.url }}" alt="Фотограф Светлана Гавриловец">
                                </div>
                                {% for desc in about.desc_set.all %}
                                    <p>{{ desc.main_description }}</p>
                                {% endfor %}
                                <ul class="social">

                                    <li><a target="_blank" href="https://vk.com/mischkova"><i class="fab fa-vk"></i></a>
                                    </li>
                                    <li><a target="_blank" href="https://vk.com/club134565385"><i
                                            class="fab fa-vk"></i></a></li>
                                    <li><a target="_blank"
                                           href="https://www.instagram.com/sviatlana_haurylavets/"><i
                                            class="fab fa-instagram"></i></a></li>

                                </ul>
                            </div>
                            <div class="foto-right">
                                <img class="foto-right-main" src="{{ about.avatar.url }}"
                                     alt="Фотограф Светлана Гавриловец">
                            </div>
                        </div>

                </div>
                </div>
            </section>
        {% endfor %}
        <section class="a-href">
            <div class="container">
                <hr class="hr-a-href"/>
                <ul>
                    <li><a href="{% url 'photosessions' %}">Примеры работ</a></li>
                    <li><a href="{% url 'price' %}">Прайс</a></li>
                    <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                </ul>
            </div>
        </section>
    </main>



{% endblock content %}
