{% extends 'places/base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}<title>Обо мне | Фотограф Светлана Гавриловец</title>  {% endblock title %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/25fa9de4fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'about/about_css/about.css' %}">
    {% include 'include/styles_for_text_section.html' %}
{% endblock head %}

{% block content %}
    <main>
       {% include 'include/text_section.html' %}
        {% for about in about_list %}
            <section class="about">
                <div class="container">
                    <h1> {{ about.title }}</h1>
                    <div class="about-me">
                        <div class="description-about">
                            <div class="mini-foto1">
                                <img src="{{ about.avatar.url }}" alt="Светлана">
                            </div>
                            {% for desc in about.desc_set.all %}
                                <p>{{ desc.main_description }}</p>
                            {% endfor %}

                        </div>
                        <div class="foto-and-equipment">
                            <div class="foto">
                                <div class="mini-foto">
                                    <img src="{{ about.avatar.url }}" alt="Светлана">
                                </div>

                                <div class="entry-thumb">
                                    <div class="part part-1"
                                         style="background-image: url({{ about.avatar.url }}); background-repeat: no-repeat"></div>
                                    <div class="part part-2"
                                         style="background-image: url({{ about.avatar.url }}); background-repeat: no-repeat"></div>
                                    <div class="part part-3"
                                         style="background-image: url({{ about.avatar.url }}); background-repeat: no-repeat"></div>
                                    <div class="part part-4"
                                         style="background-image: url({{ about.avatar.url }}); background-repeat: no-repeat"></div>
                                    <ul class="share_bar">

                                        <li><a target="_blank" href="https://vk.com/mischkova"><i class="fab fa-vk"></i></a></li>
                                        <li><a target="_blank" href="https://vk.com/club134565385"><i class="fab fa-vk"></i></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/sviatlana_haurylavets/"><i
                                                class="fab fa-instagram"></i></a></li>

                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <h2>{{ about.second_title }}</h2>
                                    {% for desc_second in about.desc_second_set.all %}
                                        <p>{{ desc_second.second_description }}</p>
                                    {% endfor %}
                                    <ul class="social">

                                        <li><a target="_blank" href="https://vk.com/mischkova"><i class="fab fa-vk"></i></a></li>
                                        <li><a target="_blank" href="https://vk.com/club134565385"><i class="fab fa-vk"></i></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/sviatlana_haurylavets/"><i
                                                class="fab fa-instagram"></i></a></li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                </div>
            </section>
        {% endfor %}
        <section class="a-href">
            <div class="container">
                <hr class="hr-a-href"/>
                <ul>
                    <li><a href="{% url 'photosessions' %}">Примеры работ</a></li>
                    <li><a href="{% url 'price' %}">Прайс</a></li>
                    <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                </ul>
            </div>
        </section>
    </main>



{% endblock content %}