{% load static %}
<footer>
    <div class="container">
        <div class="footer-up">
            <div class="footer-logo">
                <a href="{% url 'main' %}"><img src="{% static 'images/logo4.svg' %}" alt="логотип"></a>
            </div>
            <div class="contacts">
                <a href="tel:+375298443638"><h3><i class="fas fa-phone-alt"></i>+375298443638</h3></a>
            </div>
        </div>
        <hr/>
        <div class="footer-down">
            <ul>
                <li><a target="_blank" href="https://vk.com/mischkova"><i class="fab fa-vk"></i></a></li>
                <li><a target="_blank" href="https://vk.com/club134565385"><i class="fab fa-vk"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/sviatlana_haurylavets/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>