<style>
    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
    @import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

    section.text-section {
        z-index: -1;
        font-family: 'Roboto Mono', monospace;

        width: 55%;

        height: 90px;
        margin: 0 auto;
        margin-top: 100px;
        padding-top: 60px;

    }

    .container-text {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .text {
        font-weight: 100;
        font-size: 20px;
        color: #000000;
    }

    .dud {
        color: #757575;
    }

    .social-script {
        display: flex;
        /*flex-direction: row;*/
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        /*align-items: flex-end;*/
    }

    .social-script a {
        /*margin-left: 100px;*/
        /*margin-right: 100px;*/
        text-decoration: none;
        transition: 0.2s all linear;
    }

    .social-script a:hover {
        font-size: 25px;
        transition: 0.2s all linear;
    }

    .text-vk {
        color: #5F82A6;
        float: left;
        text-decoration: none;
        transition: 0.2s all linear;
    }

    .text-vk:hover {
        font-size: 25px;
        transition: 0.2s all linear;
    }

    .text-inst {
        color: #F33F5C;
        text-decoration: none;
        transition: 0.2s all linear;
    }

    .text-inst:hover {
        font-size: 25px;
        transition: 0.2s all linear;
    }

    .text-tel {
        color: green;
        float: right;
        text-decoration: none;
        transition: 0.2s all linear;
    }

    .text-tel:hover {
        font-size: 25px;
        transition: 0.2s all linear;
    }

    .text-p-inst {
        text-align: center;

    }
    .text-tel i.fa-phone-alt {
        margin: 0;
        padding: 0;
    }

    @media all and (max-width: 768px) {
        /******************************************************  text   ********************************************************/
        section.text-section {
        {#margin: auto 15px;#}{#text-align: center;#}{#height: 75px;#} padding-bottom: 75px;
            padding-top: 20px;
            margin-top: 75px;
        }


        .social-script {
            flex-direction: column;
            align-items: center;
        }

        .text-vk {
            margin: 0 auto;
            font-size: 17px;
            padding-bottom: 16px;
            text-align: center;
            float: none;
        }

        .text-inst {
            margin-bottom: 20px;
            font-size: 17px;
        }

        .text-tel {
            margin-bottom: 20px;
            font-size: 17px;
            text-align: center;
            float: none;
        }

        .social-script a:hover {
            font-size: 17px;
        }
        .text-vk:hover {
            font-size: 17px;
        }

        .text-inst:hover {
            font-size: 17px;
        }

        .text-tel:hover {
            font-size: 17px;
        }
        .vk-3.text-vk{
            text-align: center;

        }
        .inst-3.text-inst{
            text-align: center;
            padding-top: 25px;
            margin: 50px;
        }
        .tel-3.text-tel{
            text-align: center;
            padding-top: 50px;
        }
    }

</style>