<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56941417, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56941417" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    {% block head %}
    {% block title %} {% endblock title %}

    {% endblock head %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{% include 'include/script_vk.html' %}
</head>
<body>
{%  include 'include/header.html'   %}
    {% block content %}

    {% endblock content %}
{% include 'include/footer.html' %}
{% include 'include/vk.html' %}
<script src="{% static 'reviews/reviews_index.js' %}"></script>
</body>
</html>